/* Universal Scale Style */
*{
    margin: 0;
    padding: 0;
}

body{
    padding: 0 130px;
}
.header, .main{
    background-color: #f5f5f5;
}
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    color: #OE0E0E;
  }


/* Shared Style */
.section-title{
    font-size: 40px;
    
}

.topic-title{
    font-size: 32px;
}

.btn-common{
    width: 122px;
    height: 41px;
    border:#000000;
    border-radius: 8px;
    padding: 11px 20px;
    background-color:#09A15C;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}

.card-common{
    width: 200px;
    height: 150px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 24px 24px;
    background-color: #FFFFFF;

    
}

/* NavBar Style */
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 51px;

}
nav .btn-signIn{
    width: 116px;
    height: 52px;
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 15px 26px;
    font-size: 18px;
    font-weight: 600px;
    color: #006A50;
    
}

/* Hero Style */
header .hero{
    background-color: #C6E4D6;
    padding: 80px 59.99px;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
header .hero img{
    width: 474.03px;
    height: 400px;
}
header section .hero-content{
    width: 622px;
    height: 326px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header section h4{
    font-size: 24px;
    font-weight: 500px;
    opacity: 50%;
}
header section h1{
    font-size: 44px;
    font-weight: 500px;
    
}
header .hero .btn-common{
    width: 122px;
    height: 41px;
    border:#000000;
    border-radius: 8px;
    padding: 11px 20px;
    background-color:#09A15C;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}
header .hero .hero-content .btn-self{
    font-weight: 600;
    padding: 17px 34px;
    width: 270px;
    height: 56px;
}

/* main style */
.main .pob{
    width: 1280px;
    height: 324px;

}
.main .pob h3{
    padding-bottom: 32px;
}

.main .pob .pob-card-container{
    display: flex;
    justify-content: space-between;
    
}

